@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-slate-50: #f8fafc;
    --color-slate-950: #020617;
}
body {
    background: var(--color-slate-50);
    color: var(--color-slate-950);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
